
.navbar .nav-link {
    color:white;
}
.navbar .nav-link:hover{
    color:blue;
}
.navbar .form-control {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.navbar .form-control::placeholder {
    color: white;
    opacity: 0.7;
}

.navbar .form-control:focus {
    background-color: transparent;
    color: white;
    border-color: #0d6efd;
    box-shadow: none;
}

/* Button search */
.navbar .btn-outline-success {
    color: white;
    border-color: white;
}

.navbar .btn-outline-success:hover {
    color: white;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
